# Get a free key from https://www.themoviedb.org/settings/api
TMDB_API_KEY=e7ce6aca9abdcc41bc2ed41985058064
# Alternatively use v4 bearer token
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlN2NlNmFjYTlhYmRjYzQxYmMyZWQ0MTk4NTA1ODA2NCIsIm5iZiI6MTc3NzAzMDcwNS42ODk5OTk4LCJzdWIiOiI2OWViNTYzMWU5MTdmMGVkZTRiNGUxNDkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.fGv995fsLlRjlVSC1XUJywpGqo8QgLG9g7ui8RINlhw
